/* Estilos para el contenedor del carrusel */
.custom-carousel {
  width: 100%; /* Ancho completo del contenedor */
  position: relative;
  overflow: hidden; /* Evita el scroll lateral */
}

.custom-carousel .carousel-item {
  transition: transform 0.6s ease-in-out;
}

.custom-card {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Letras blancas */
  border: none;
  border-radius: 0; /* Sin radio en las esquinas */
  padding: 20px 40px; /* Padding ajustado */
  width: 100%; /* Ancho completo */
  margin: 0;
  text-align: center;
}

.custom-card .card-title {
  font-size: 1.8rem; /* Tamaño de fuente grande */
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
}

.custom-card .card-title::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: #fff; /* Línea blanca */
  margin: 10px auto; /* Centra la línea */
}

.custom-card .rating {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.star {
  font-size: 1.5rem;
  color: #fff; /* Color blanco */
}

.star.filled {
  color: #fff; /* Color blanco para las estrellas llenas */
}

.custom-card .card-text {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.custom-card .card-footer {
  background-color: transparent;
  border-top: none;
  font-size: 0.9rem;
  color: #6c757d;
  text-align: right;
}

/* Estilos para el formulario */
.reviews-form-container {
  padding: 20px;
  background-color: #000; /* Fondo negro */
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

.form-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-form .form-label {
  color: #fff; /* Color blanco */
}

.custom-form .form-control {
  background-color: #333; /* Fondo gris oscuro */
  color: #fff; /* Texto blanco */
  border: 1px solid #fff; /* Borde blanco */
}

.custom-form .form-control,
.custom-form .btn {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.custom-form .btn {
  background-color: #fff; /* Fondo blanco */
  color: #000; /* Texto negro */
  border: none;
}

.rating-input {
  display: flex;
  justify-content: center;
  gap: 5px; /* Espacio entre las estrellas */
}

.rating-input .star-input {
  cursor: pointer;
  font-size: 1.5rem; /* Tamaño de las estrellas */
  color: #ccc; /* Color gris claro por defecto */
}

.rating-input .star-input.checked {
  color: #fff; /* Color blanco cuando están seleccionadas */
}

.button-send-form {
  width: 150px;
}

.custom-card .card-text {
  font-size: 1.2rem; /* Tamaño para pantallas grandes */
  margin-bottom: 15px; /* Espacio debajo del texto */
  text-align: center; /* Centra el texto */
}

@media (max-width: 768px) {
  .custom-card .card-text {
    font-size: 0.9rem; /* Tamaño reducido para pantallas móviles */
  }
}