.op-servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.op-servicios > div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Imagenes dentro del grid */
.op-servicios img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease, filter 0.5s ease; /* Transición suave para el zoom y filtro */
}

/* Degradado oscuro sobre la imagen */
.op-servicios > div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  z-index: 1;
  transition: opacity 0.5s ease; /* Transición suave para reducir el degradado */
}

/* Zoom en la imagen y reducir degradado al hacer hover */
.op-servicios > div:hover img {
  transform: scale(1.1); /* Zoom leve en la imagen */
}

.op-servicios > div:hover::after {
  opacity: 0.3; /* Reduce la opacidad del degradado al hacer hover */
}

/* Posicionamiento y estilo del contenido sobre la imagen */
.titulo-servicio,
.resumen-servicio,
.boton-servicio {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 2; /* Asegura que el contenido esté sobre el degradado */
}

.titulo-servicio {
  top: 25%; /* Ajustado para reducir el margen entre elementos */
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
}

.resumen-servicio {
  top: 45%; /* Ajustado para reducir el margen entre elementos */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2em;
}

.boton-servicio {
  top: 60%; /* Ajustado para reducir el margen entre elementos */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 1em;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.boton-servicio:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .op-servicios {
    grid-template-columns: 1fr; /* Ajusta a una columna en dispositivos móviles */
    grid-template-rows: repeat(3, 1fr); /* Una fila para cada imagen */
    height: auto; /* Deja que la altura se ajuste automáticamente */
    margin-top: 100px; /* Agrega un margen superior de 250px */
  }

  .titulo-servicio {
    top: 15%; /* Ajusta la posición vertical del título */
    font-size: 1.5em; /* Reduce el tamaño de la fuente del título */
  }

  .resumen-servicio {
    top: 35%; /* Ajusta la posición vertical del resumen */
    font-size: 1em; /* Reduce el tamaño de la fuente del resumen */
    margin-bottom: 20px;
  }

  .boton-servicio {
    width: 70%;
    margin: 0 auto;
    top: 50%; /* Ajusta la posición vertical del botón */
    font-size: 0.9em; /* Reduce el tamaño del texto del botón */
    padding: 8px 16px; /* Ajusta el tamaño del botón */
    margin-top: 60px;
  }
}