/* Variables CSS para colores */
:root {
  --color-fondo-header: rgba(248, 249, 250, 0.8);
  --color-fondo-secciones: rgba(233, 236, 239, 0.8);
  --color-fondo-derechos: rgba(248, 249, 250, 0.8);
  --color-texto: #000;
  --color-boton-seleccionado: #007bff;
  --color-boton-seleccionado-texto: #fff;
  --color-boton-borde: #fff; /* Color del borde del botón */
  --color-boton-texto: #fff; /* Color del texto del botón */
  --color-boton-fondo: transparent; /* Fondo transparente */
}

/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.Header {
  background-color: var(--color-fondo-header);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.contenedor-principal {
  position: relative;
  z-index: 10;
}

.secciones {
  margin: 0; /* Sin margen */
  padding: 0; /* Sin padding */
  background-color: var(--color-fondo-secciones);
  border-radius: 5px;
  position: relative;
  z-index: 10;
}

.presentacion h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 35px; /* Margin de 25px entre el h1 y los botones */
}

/* Sección inicio con imagen de fondo y degradado oscuro */
.seccion-inicio {
  display: flex;
  justify-content: center; /* Centra el contenido en el eje principal (horizontal) */
  align-items: center;     /* Centra el contenido en el eje transversal (vertical) */
  position: relative;
  width: 100%;
  height: 850px; /* Ajusta esta altura según sea necesario */
  margin: 0;
  padding: 0;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), 
    url('../img/Fondo-inicio.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Estilos de los botones */
button {
  border: 2px solid var(--color-boton-borde);
  color: var(--color-boton-texto); /* Color del texto del botón */
  background-color: var(--color-boton-fondo);
  padding: 15px 20px; /* Ajusta el padding si es necesario */
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px; /* Sin borde redondeado */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
  width: calc(50% - 7.5px); /* Ancho para dos botones con margen de 15px entre ellos */
}

/* Estilo para el margen entre botones */
button + button {
  margin-left: 15px; /* Margen de 15px entre los botones */
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Color de fondo más claro al pasar el mouse */
  color: var(--color-boton-texto); /* Mantiene el color del texto */
}

.buttons-container {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center;
  gap: 15px; /* Espacio entre los botones */
  margin: 20px 0;
}

.cta-button {
  border: 2px solid var(--color-boton-borde);
  color: var(--color-boton-texto);
  background-color: var(--color-boton-fondo);
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
  width: calc(50% - 7.5px); /* Para que se adapten con margen entre botones */
  text-align: center;
}

.cta-button:hover {
  background-color: var(--color-boton-hover);
  color: var(--color-texto-hover);
}

/* Estilos de la presentación */
.presentacion {
  text-align: center;
  color: white;
}

/* Otros estilos */
.seccion-derechos {
  text-align: center;
  padding: 10px;
  background-color: var(--color-fondo-derechos);
  position: relative;
  z-index: 10;
}

/* Estilos específicos para el componente Reviews */
.custom-carousel {
  width: 100%; /* Ancho completo del contenedor */
  margin: auto;
  position: relative;
  overflow: hidden; /* Evita el scroll lateral */
}

.custom-carousel .carousel-item {
  transition: transform 0.6s ease-in-out;
}

.custom-card {
  background-color: #000; /* Fondo negro */
  color: #fff; /* Letras blancas */
  border: none; /* Sin borde */
  border-radius: 0; /* Sin radio en las esquinas */
  padding: 20px;
  box-shadow: none; /* Sin sombra */
  width: 100%; /* Ancho completo */
  box-sizing: border-box; /* Incluye el padding en el ancho */
  margin: 0; /* Sin margen */
}

.custom-card .card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.custom-card .card-text {
  font-size: 1.2rem;
}

.custom-card .rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.star {
  font-size: 1.5rem;
  color: #fff; /* Color blanco para las estrellas vacías */
}

.star.filled {
  color: #fff; /* Color blanco para las estrellas llenas */
}

.custom-card .card-footer {
  background-color: transparent;
  border-top: none;
  font-size: 0.9rem;
  color: #6c757d;
  text-align: right;
}

/* Sección de servicios con CSS Grid */
.servicios-imagenes {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual tamaño */
  width: 100%; /* Ocupa el 100% del ancho del contenedor */
  margin: 0; /* Sin margen */
  padding: 0; /* Sin padding */
  position: relative;
}

.imagen-contenedor {
  position: relative;
  width: 100%;
  height: 450px; /* Altura fija para las imágenes */
}

.imagen-contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen y recorta si es necesario */
  display: block; /* Elimina el espacio extra debajo de las imágenes */
}

.imagen-degradado {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Controla la opacidad */
  pointer-events: none; /* Permite que los eventos de puntero pasen a través del pseudo-elemento */
  z-index: 1; /* Asegura que el degradado esté sobre la imagen */
}

/* Estilos del texto en la sección de servicios */
.servicios-texto {
  position: absolute;
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición para el centrado exacto */
  color: white; /* Color blanco */
  text-align: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2; /* Asegura que el texto esté sobre las imágenes y el degradado */
}

.servicios-texto h2 {
  margin: 0 0 15px; /* Margen inferior para separación entre el título y el párrafo */
  font-size: 2.5rem; /* Tamaño de fuente más grande */
  position: relative;
  display: inline-block; /* Asegura que el pseudo-elemento se centre correctamente */
  margin-bottom: 65px;
}

.servicios-texto h2::after {
  content: '';
  display: block;
  width: 75%; /* Ancho de la línea */
  height: 4px; /* Altura de la línea */
  background-color: white; /* Color de la línea */
  margin: 10px auto 0; /* Centra la línea horizontalmente y agrega margen superior */
}

.servicios-texto p {
  margin: 0 0 20px; /* Margen inferior para separación entre el párrafo y el botón */
  line-height: 1.5; /* Mejora la legibilidad del párrafo */
}

.servicios-texto button {
  border: 2px solid var(--color-boton-borde);
  color: var(--color-boton-texto); /* Color del texto del botón */
  background-color: var(--color-boton-fondo);
  padding: 15px 20px; /* Igual que en la sección de presentación */
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px; /* Sin borde redondeado */
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
  margin-top: 20px; /* Espacio superior para separación */
}

.servicios-texto button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Color de fondo más claro al pasar el mouse */
  color: var(--color-boton-texto); /* Mantiene el color del texto */
}

.consejos-productos{
  background-color: black;
  height: 40px;
}

@media (max-width: 768px) {
  .seccion-inicio {
    height: 600px; /* Ajusta la altura para pantallas más pequeñas */
    background-position: center center; /* Asegura que la imagen de fondo esté centrada */
  }

  .presentacion h1 {
    font-size: 1.5rem; /* Reduce el tamaño del texto */
    margin-bottom: 20px; /* Ajusta el margen inferior */
  }

  button {
    width: 100%; /* Botones ocupan todo el ancho */
    margin: 10px 0; /* Ajusta el margen entre botones */
  }

  .buttons-container {
    flex-direction: column; /* Apilar los botones en móviles */
  }

  .cta-button {
    width: 100%; /* Los botones ocuparán el 100% del ancho en móviles */
    margin-bottom: 10px; /* Espacio entre los botones */
  }

  .cta-button + .cta-button {
    margin-left: 0;
  }

  .servicios-imagenes {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en lugar de cuatro */
    height: auto; /* Ajusta la altura de las imágenes */
  }

  .imagen-contenedor {
    height: 300px; /* Ajusta la altura de las imágenes */
  }

  .servicios-texto {
    padding: 10px; /* Reduce el padding */
    font-size: 0.9rem; /* Reduce el tamaño del texto */
  }

  .servicios-texto h2 {
    font-size: 1.8rem; /* Reduce el tamaño del título */
    margin-bottom: 20px; /* Ajusta el margen inferior */
  }

  .servicios-texto p {
    font-size: 0.8rem; /* Reduce el tamaño del texto del párrafo */
    margin-bottom: 15px; /* Ajusta el margen inferior */
  }

  .consejos-productos {
    height: auto; /* Ajusta la altura para el contenedor de consejos-productos */
    padding: 10px; /* Agrega padding para un mejor espaciado */
  }

  .Header {
    position: relative; /* Ajusta la posición para pantallas más pequeñas */
    width: 100%; /* Asegura que el header ocupe todo el ancho */
  }
}